.heroSectionContainer {
    background-image: url(../images/HeroSection.svg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

}

/* @media screen and (max-width:500px) {
    .heroSectionContainer {
        height: 200vh;
    }

} */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.heroSectionSearch {
    animation: fadeIn 3s ease-in-out forwards;
}

.heroSectionSearch button {
    transition: transform 0.3s ease;
}

.heroSectionSearch button:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.heroHeading {
    animation: fadeIn 2s ease-in-out forwards;
}


@media screen and (max-width: 768px) {
    .heroHeading {
        font-size: 48px;
    }

    /* .heroSectionContainer {
        height: 200vh;

    } */
}

@media screen and (max-width: 480px) {
    .heroHeading {
        font-size: 32px;
    }
}


.heroSectionSearch .buyToSell {
    display: flex;
    width: fit-content;
}


.buyToSell>:hover {
    background-color: #003430;
    color: #FFF;
}


.buyToSellBtn1 {
    background-color: #003430;
    color: #FFF;

}

.buyToSell>* {
    width: 85px;
    height: 32px;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    border-bottom: 0px;
}


.buyToSellInputs {
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 11px 100px 20px rgba(0, 0, 0, 0.15);
    width: fit-content;

}

.buyToSellBtn1 {
    background-color: #003430;
    color: #FFF;

}

select {
    color: red;
}

.line {
    width: 0.543px;
    height: 35.86px;
    background: rgba(32, 33, 36, 0.50);
}

button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
}

button.hovered {
    color: #003430;
}

button.active {
    background-color: #003430;
    color: white;
}

@media screen and (max-width: 768px) {
    .buyToSellInputs {
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: flex-start;
        border: none;
    }

    .line {
        width: 0;
        height: 0;
    }
}





/* Service Styles */
.ourServices {
    padding: 100px 100px 100px 100px;
}

@media screen and (max-width:480px) {
    .ourServices {
        padding: 100px 0px 0px 0px;
    }
    
}

.serviceHeading {
    color: #202124;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.8px;
}

.servicesContainer> {
    height: 360px;
}





.buyService,
.sellService,
.rentService {

    transition: transform 0.3s ease;
}

.servicesContainer>*:hover {
    transform: scale(1.1);
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 01px 10px rgba(0, 0, 0, 0.4);
}


.imageIcon {
    width: fit-content;
    background: #003430;
    filter: drop-shadow(4px 10px 30px rgba(8, 114, 106, 0.20));
    border-radius: 50%;
    padding: 10px;
    align-self: center;
}



/* Listing */
.newListing {
    background-image: url('../images/HeroSection.svg');
    background-size: cover;
    padding: 100px 0px 100px 0px;
}

.headingBtn button {
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20.27px;
    opacity: 0.8;
    background: #202124;
    box-shadow: 0px 0.921px 9.214px 0.921px rgba(0, 0, 0, 0.25);
}

.headingBtn button span {
    font-size: 11.056px;
    color: #FFF;
    font-weight: 400;
}

.listImage {
    position: relative;
    
}

.distance {
    position: absolute;
    border-radius: 20.27px;
    opacity: 0.8;
    background: #202124;

    padding: 1.843px 13.82px;
    color: #FFF;
    box-shadow: 0px 0.921px 9.214px 1.843px rgba(0, 0, 0, 0.10);
}

.type {
    position: absolute;
    right: 13px;
    border-radius: 3.685px;
    opacity: 0.8;
    background: #33D30B;
    box-shadow: 0px 0.921px 9.214px 1.843px rgba(0, 0, 0, 0.10);
    padding: 1.843px 13.82px;
    justify-content: center;
    align-items: center;
    gap: 9.214px;
    color: #FFF;
}

.image {
    position: absolute;
    bottom: -15px;
    right: 13px;
    width: 44.225px;
    height: 44.225px;
    border-radius: 44.225px;
    border: 1.843px solid var(--white-Color, #FFF);
    background-color: lightgray;
    box-shadow: 0px 0.921px 9.214px 1.843px rgba(0, 0, 0, 0.25);
}

.image img {
    border: 50%;

}

.propertyDetailsBtn button {
    padding: 6px 15px;
    gap: 4px;
    border-radius: 20.27px;
    opacity: 0.8;
    background: #202124;
    box-shadow: 0px 0.921px 9.214px 0.921px rgba(0, 0, 0, 0.25);
}

.propertyDetailsBtn button span {
    font-size: 11.056px;
    color: #FFF;
    font-weight: 400;

}

/* guide */
.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 512px) {

    .newsletter {
        flex-direction: column;
    }

}

.guideSection {
    padding: 100px 100px 100px 100px;

}

@media screen and (max-width: 500px) {
    .guideSection {
        padding: 0px;

    }

}

.guideContents {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.guideBtn {
    padding: 10px 30px;
    border-radius: 30px;
    background: #003430;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}



/* News letter */
.newsletterBtn {
    border: solid black;
    padding: 10px;
    border-radius: 25px;
    color: var(--Black-Color, #202124);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.emailInput{
    padding: 10px;
    
}

