.heroSectionContainer {
    background-image: url(../images/HeroSection.svg);
    height: 699px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heroSectionSearch .buyToSell {
    display: flex;
    width: 70%;
    background-color: white;
}

.buyToSellBtn {
    border: 1px solid black;
    width: 85px;
    height: 32px;
    border-radius: 10px 10px 0px 0px;
}

.buyToSell>:hover {
    background-color: #003430;
    color: #FFF;
}

.buyToSellInputs {
    background: #FFF;
}

.buyToSellInputs .cityStreet {
    color: #202124 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}